{% extends "./admin/layout/profile.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/noty.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/notification/notif.js') }}"></script>
<style>
   #reload {
   position:absolute;
   bottom:5px;
   right:5px;
   width:25px;
   height:25px;
   }
   #input_img {
   position:absolute;
   bottom:5px;
   right:40px;
   width:25px;
   height:25px;
   }
</style>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{% for message in messages %}
<script>
   new Noty({
       theme: ' alert bg-success text-white alert-styled-left p-0',
       text: '{{ message }}',
       type: 'success',
       progressBar: true,
       layout: 'topRight',
       timeout: 3000,
       closeWith: ['button']
   }).show();
</script>
{% endfor %}
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
{% for message in messages %}
<script>
   new Noty({
       theme: ' alert bg-danger text-white alert-styled-left p-0',
       text: '{{ message }}',
       type: 'error',
       progressBar: true,
       layout: 'topRight',
       timeout: 3000,
       closeWith: ['button']
   }).show();
</script>
{% endfor %}
{% endif %}
{% endwith %}
<div class="page-header page-header-light">
   <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
         <div class="breadcrumb">
            <a href="{{ url_for('admin.index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Home</a>
            <a href="{{ url_for('admin.setting') }}" class="breadcrumb-item">Paramètre</a>
            <span class="breadcrumb-item active">mot de passe</span>
         </div>
         <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="content">
   <div class="main-panel">
      <div class="container">
         <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
               <div class="card border" style="height: 567px;">
                  <div class="profile-card">
                     <div class="profile-header">
                        <div class="cover-image">
                           <img src="{{ url_for('static', filename='photo/profile.jpg') }}" class="img img-fluid" id="imageChange" alt="">
                        </div>
                        <div class="user-image">
                           <img src="{{ url_for('static', filename='photo/employee.jpg') }}" class="img" id="profile-image1" alt="">
                        </div>
                     </div>
                     <div class="profile-content">
                     {% if current_user.is_authenticated %}
                        <div class="profile-name">{{ current_user.nomUser }} {{ current_user.prenomUser }}</div>
                        <div class="profile-designation">Administrateur</div>
                     {% endif %}
                        <ul class="profile-info-list">
                           <a href="{{ url_for('admin.setting') }}" class="profile-info-list-item border"><i class="mdi mdi-eye"></i>À propos</a>
                           <a href="{{ url_for('admin.settingHistorique') }}" class="profile-info-list-item border"><i class="mdi mdi-bookmark-check"></i>Historique de connexion</a>
                           <a href="{{ url_for('admin.settingPassword') }}"  class="profile-info-list-item border"><i class="mdi mdi-gate"></i>Password</a>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-8 grid-margin stretch-card">
               <div class="card border">
                  <div class="card-body content d-flex justify-content-center align-items-center" style="height: 565px;">
                     <form class="login-form" method="post">
                        {{ form.hidden_tag() }}
                        <div class="text-center mb-3">
                           <i class="icon-lock2 icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                           <h5 class="mb-0">Reset Your Password</h5>
                           <span class="d-block text-muted">Don't Sahre this Password</span>
                        </div>
                        <div class="form-group form-group-feedback form-group-feedback-left">
                           <img src="{{ url_for('static', filename='photo/load.png')}}" id="reload" alt=""/>
                           <img src="{{ url_for('static', filename='photo/eye.png')}}" id="input_img" alt=""/>
                           {{ form.Password(class="form-control",readonly="readonly",placeholder="Password",autocomplete="off") }}
                           <div class="form-control-feedback">
                              <i class="icon-lock2 text-muted"></i>
                           </div>
                        </div>
                        <div class="form-group">
                           <button type="submit" class="btn btn-primary btn-block">Reset Password <i class="icon-circle-right2 ml-2"></i></button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
     generate();

   $('#input_img').on('click', function() {
       showPassword();
   });

   $('#reload').on('click', function() {
       generate();
   });

   function showPassword() {
       const passwordField = $('#Password');
       const passwordFieldType = passwordField.attr('type');
       if (passwordField.val() !== '') {
           if (passwordFieldType === 'password') {
               passwordField.attr('type', 'text');
               $("#input_img").attr("src", "{{ url_for('static', filename='photo/hide.png')}}");
           } else {
               passwordField.attr('type', 'password');
               $("#input_img").attr("src", "{{ url_for('static', filename='photo/eye.png')}}");
           }
       }
   }

   function generate() {
       $.ajax({
           url: '{{ url_for('admin.dataPassSetting') }}',
           type: 'post',
           contentType: "application/x-www-form-urlencoded;charset=utf-8",
           dataType: 'json',
           cache: false,
           success: function(data) {
               if (data) {
                   const passwordField = $('#Password');
                   passwordField.val("");
                   const passwordFieldType = passwordField.attr('type');
                   passwordField.val(data.Password);
                   success("Le mot de passe est chargé");
               }
           }
       });
   }

</script>
{% endblock %}