{% extends "./chef/layout/layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css">
<script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/pdfGenerator/jspdf.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/pdfGenerator/jspdf.plugin.autotable.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/noty.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/notification/notif.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/chef/conge/impConge.js') }}"></script>
<div class="page-header page-header-light">
   <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
         <div class="breadcrumb">
            <a href="{{ url_for('chef.index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Home</a>
            <a href="{{ url_for('chef.consulter_conge') }}" class="breadcrumb-item">Congé</a>
            <span class="breadcrumb-item active">Imprimer</span>
         </div>
         <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="content">
   <div class="card">
      <div class="card-body">
         <div class="row">
            <form method="post" action="" id="idForm">
               {{ form.hidden_tag() }}
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-4">
                        {{ form.DatDeb.label(class="font-weight-semibold") }}
                        {{ form.DatDeb(class="form-control",placeholder="#",autocomplete="off") }}
                        <div class="invalid-feedback" id="ErrDateDeb">
                           <span class="form-text text-danger"></span>
                        </div>
                     </div>
                     <div class="col-md-4">
                        {{ form.DatFin.label(class="font-weight-semibold") }}
                        {{ form.DatFin(class="form-control",placeholder="#",autocomplete="off") }}
                        <div class="invalid-feedback" id="ErrDateFin">
                           <span class="form-text text-danger"></span>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <button type="submit" class="btn btn-primary" style="margin-top:28px;">Submit
                        <i class="icon-paperplane ml-2"></i>
                        </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="card-body">
         <div class="row">
            <div class="col-md-7">
               <img src="{{ url_for('static', filename='photo/agil.png') }}" height="35" alt="agil"/>
               <code> Société AGIL De Gestion et des services S.A.G.E.S</code>
               {% if current_user.is_authenticated %}
               <code>({{ current_user.Station.NomStation}})</code>
               {% endif %}
            </div>
            <div class="col-md-4">
               <div id="load" class="text-right" style="display: none;margin-right: 10px;">
                  <img src="{{ url_for('static', filename='photo/loader.gif') }}" height="35"/>
               </div>
            </div>
            <div class="col-md-1">
               <button class="dt-button btn bg-teal-400" style="margin-left: -5px;" id="BtnImp" type="button" disabled>
               <span>Imprimer</span>
               </button>
            </div>
         </div>
         <br/>
         <div class="card card-table table-responsive shadow-0 mb-0">
            <table class="table datatable-basic table-bordered table-striped table-hover table-sm" id="myTable" style="width: 100%">
               <thead class="thead-dark">
                  <tr>
                     <th>Station</th>
                     <th>Groupe</th>
                     <th>Code</th>
                     <th>Cin</th>
                     <th>Nom</th>
                     <th>Prenom</th>
                     <th>Type</th>
                     <th>Durée</th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<script>
    function getStation(){
        var idStation = "";
        {% if current_user.is_authenticated %} idStation = '{{ current_user.Station.NomStation | string }}'; {% endif %}
        return idStation;
    }
</script>
{% endblock %}