{% extends "./chef/layout/layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css">
<script type='text/javascript' src="{{ url_for('static', filename='js/anytime.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.inputmask.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<div class="page-header page-header-light">
   <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
         <div class="breadcrumb">
            <a href="{{ url_for('chef.index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Home</a>
            <a href="{{ url_for('chef.consulter_expenses') }}" class="breadcrumb-item">Dépense</a>
            <span class="breadcrumb-item active">Ajouter</span>
         </div>
         <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="content">
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <div class="card">
            <div class="card-header header-elements-inline">
               <h5 class="card-title">Ajouter à la liste du dépense </h5>
            </div>
            <div class="card-body">
               <form method="post" action="">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                     {{ form.Date.label(class="font-weight-semibold") }}
                     {% if form.Date.errors %}
                     {{ form.Date(class="form-control is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Date.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Date(class="form-control",placeholder="#",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="form-group">
                     {{ form.Cat.label(class="font-weight-semibold") }}
                     {% if form.Cat.errors %}
                     {{ form.Cat(class="form-control text-capitalize is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Cat.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Cat(class="form-control text-capitalize",placeholder="#",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="form-group">
                     {{ form.Mont.label(class="font-weight-semibold") }}
                     {% if form.Mont.errors %}
                     {{ form.Mont(class="form-control is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Mont.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Mont(class="form-control",placeholder="#",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="form-group">
                     {{ form.Desc.label(class="font-weight-semibold") }}
                     {% if form.Desc.errors %}
                     {{ form.Desc(class="form-control text-capitalize is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Desc.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Desc(class="form-control text-capitalize",placeholder="#",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="d-flex justify-content-end align-items-center">
                     <button type="reset" class="btn btn-secondary" id="reset">Reset <i class="icon-reload-alt ml-2"></i></button>
                     <button type="submit" class="btn btn-primary ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-md-3"></div>
      </div>
   </div>
</div>
<script>
   $('#Mont').inputmask({
        alias: 'numeric',
        allowMinus: false,
        digits: 2,
        max: 999999999.99
   });
   $('#Date').datepicker({
        todayBtn: 'linked',
        format: "yyyy-mm-dd",
        autoclose: true,
        endDate:currrent_date()
    });

    function currrent_date() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        return (yyyy + '-' + mm + '-' + dd);
    }
</script>
{% endblock %}