{% extends "./chef/layout/layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css">
<script type='text/javascript' src="{{ url_for('static', filename='js/anytime.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.inputmask.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/noty.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/notification/notif.js') }}"></script>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{% for message in messages %}
<script>
   new Noty({
       theme: ' alert bg-success text-white alert-styled-left p-0',
       text: '{{ message }}',
       type: 'success',
       progressBar: true,
       layout: 'topRight',
       timeout: 2500,
       closeWith: ['button']
   }).show();
</script>
{% endfor %}
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
{% for message in messages %}
<script>
   new Noty({
       theme: ' alert bg-danger text-white alert-styled-left p-0',
       text: '{{ message }}',
       type: 'error',
       progressBar: true,
       layout: 'topRight',
       timeout: 2500,
       closeWith: ['button']
   }).show();
</script>
{% endfor %}
{% endif %}
{% endwith %}
<div class="page-header page-header-light">
   <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
         <div class="breadcrumb">
            <a href="{{ url_for('chef.index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Home</a>
            <a href="{{ url_for('chef.consulter_absence') }}" class="breadcrumb-item">Absence</a>
            <span class="breadcrumb-item active">Modifier</span>
         </div>
         <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="content">
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <div class="card">
            <div class="card-header header-elements-inline">
               <h5 class="card-title">Modifier Absence</h5>
            </div>
            <div class="card-body">
               <form method="post" action="" id="myForm">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                     {{ form.Code.label(class="font-weight-semibold") }}
                     {{ form.Code(class="form-control",placeholder="Code",autocomplete="off") }}
                     <div class="invalid-feedback" id="ErrCode">
                        <span class="form-text text-danger"> </span>
                     </div>
                  </div>
                  <div class="form-group">
                     {{ form.Name.label(class="font-weight-semibold") }}
                     {{ form.Name(class="form-control",disabled=true) }}
                  </div>
                  <div class="form-group">
                     {{ form.Prenom.label(class="font-weight-semibold") }}
                     {{ form.Prenom(class="form-control",disabled=true) }}
                  </div>
                  <div class="form-group">
                     {{ form.Groupe.label(class="font-weight-semibold") }}
                     {{ form.Groupe(class="form-control",disabled=true) }}
                  </div>
                  <div class="form-group">
                     {{ form.Date.label(class="font-weight-semibold") }}
                     {% if form.Date.errors %}
                     {{ form.Date(class="form-control is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Date.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Date(class="form-control",placeholder="#",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="form-group">
                     {{ form.Desc.label(class="font-weight-semibold") }}
                     {% if form.Desc.errors %}
                     {{ form.Desc(class="form-control text-capitalize is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Desc.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Desc(class="form-control text-capitalize",placeholder="#",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="d-flex justify-content-end align-items-center">
                     <button type="reset" class="btn btn-secondary" id="reset">Reset <i class="icon-reload-alt ml-2"></i></button>
                     <button type="submit" class="btn btn-primary ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-md-3"></div>
      </div>
   </div>
</div>
<script type='text/javascript' src="{{ url_for('static', filename='js/chef/absence/modAbsence.js') }}"></script>
{% endblock %}