{% extends "./admin/layout/layout.html" %}
{% block body %}
<div class="page-header page-header-light">
   <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
         <div class="breadcrumb">
            <a href="{{ url_for('admin.index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Home</a>
            <a href="{{ url_for('admin.consulter_station') }}" class="breadcrumb-item">Station</a>
            <span class="breadcrumb-item active">Ajouter</span>
         </div>
         <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="content">
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <div class="card">
            <div class="card-header header-elements-inline">
               <h5 class="card-title">Ajouter Station</h5>
            </div>
            <div class="card-body">
               <form method="post" action="" id="for">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                     {{ form.Nom.label(class="font-weight-semibold") }}
                     {% if form.Nom.errors %}
                     {{ form.Nom(class="form-control text-capitalize is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Nom.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Nom(class="form-control text-capitalize",placeholder="Station ...",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="form-group">
                     {{ form.Adr.label(class="font-weight-semibold") }}
                     {% if form.Adr.errors %}
                     {{ form.Adr(class="form-control text-capitalize is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Adr.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Adr(class="form-control text-capitalize",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="form-group">
                     {{ form.Ville.label(class="font-weight-semibold") }}
                     {% if form.Ville.errors %}
                     {{ form.Ville(class="form-control is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Ville.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Ville(class="form-control",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="form-group">
                     {{ form.Del.label(class="font-weight-semibold") }}
                     {% if form.Del.errors %}
                     {{ form.Del(class="form-control is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Del.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Del(class="form-control",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="d-flex justify-content-end align-items-center">
                     <button type="reset" class="btn btn-secondary" id="reset">Reset <i class="icon-reload-alt ml-2"></i></button>
                     <button type="submit" class="btn btn-primary ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-md-3"></div>
      </div>
   </div>
</div>
<script>
   const csrf_token = $("#csrf_token").val();
   $.ajaxSetup({
       beforeSend: function(xhr, settings) {
           if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
               xhr.setRequestHeader("X-CSRFToken", csrf_token);
           }
       }
   });


   function Delegation(id) {
       $.ajax({
           type: 'post',
           url: '{{ url_for('admin.consulter') }}',
           data: {
               id: id
           },
           contentType: "application/x-www-form-urlencoded;charset=ISO-8859-15",
           success: function(data) {
               $("select").prop('required', true);
               var opts = $.parseJSON(data);
               $.each(opts, function(i, d) {
                   $('#delg').append('<option value="' + d.id + '">' + d.name + '</option>');
               });
           }
       });
   }

   ChangeVille();

   function ChangeVille() {
       const id = $("#ville option:selected").val();
       Delegation(id);
   }

   $("#ville").change(function() {
       const id = $(this).val();
       $("#delg").empty();
       Delegation(id);
   });
</script>
{% endblock %}