{% extends "./chef/layout/layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/anytime.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.inputmask.min.js') }}"></script>
<div class="page-header page-header-light">
   <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
         <div class="breadcrumb">
            <a href="{{ url_for('chef.index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Home</a>
            <a href="{{ url_for('chef.consulter_pompe') }}" class="breadcrumb-item">Pompe</a>
            <span class="breadcrumb-item active">Ajouter</span>
         </div>
         <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="content">
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <div class="card">
            <div class="card-header header-elements-inline">
               <h5 class="card-title">Ajouter Compte Chef</h5>
            </div>
            <div class="card-body">
               <form method="post" action="">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                     {{ form.Code.label(class="font-weight-semibold") }}
                     {% if form.Code.errors %}
                     {{ form.Code(class="form-control is-invalid",autocomplete="off") }}
                     <div class="invalid-feedback">
                        {% for error in form.Code.errors %}
                        <span class="form-text text-danger">
                        {{ error }}
                        </span>
                        {% endfor %}
                     </div>
                     {% else %}
                     {{ form.Code(class="form-control",placeholder="#",autocomplete="off") }}
                     {% endif %}
                  </div>
                  <div class="d-flex justify-content-end align-items-center">
                     <button type="reset" class="btn btn-secondary" id="reset">Reset <i class="icon-reload-alt ml-2"></i></button>
                     <button type="submit" class="btn btn-primary ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-md-3"></div>
      </div>
   </div>
</div>
<script>
   $("#code").inputmask(
       {"mask": 'Pompe9{1,6}'}
   );
</script>
{% endblock %}