{% extends "./chef/layout/layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/noty.min.js') }}"></script>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{% for message in messages %}
<script>
   new Noty({
       theme: ' alert bg-success text-white alert-styled-left p-0',
       text: '{{ message }}',
       type: 'success',
       progressBar: true,
       layout: 'topRight',
       timeout: 3000,
       closeWith: ['button']
   }).show();
</script>
{% endfor %}
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
{% for message in messages %}
<script>
   new Noty({
       theme: ' alert bg-danger text-white alert-styled-left p-0',
       text: '{{ message }}',
       type: 'error',
       progressBar: true,
       layout: 'topRight',
       timeout: 3000,
       closeWith: ['button']
   }).show();
</script>
{% endfor %}
{% endif %}
{% endwith %}
<div class="page-header page-header-light">
   <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
         <div class="breadcrumb">
            <a href="{{ url_for('chef.index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Home</a>
            <a href="{{ url_for('chef.consulter_recette_carburant') }}" class="breadcrumb-item">Recette Carburant</a>
            <span class="breadcrumb-item active">Consulter</span>
         </div>
         <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="content">
   <div class="card">
      <div class="card-body">
         <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
               <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-2">
                     {{ form.Date.label(class="font-weight-semibold") }}
                     {{ form.Date(class="form-control",id="code",placeholder="Filter Date",autocomplete="off") }}
                  </div>
                  <button type="submit" class="btn btn-primary" style="margin-top:28px;" >Submit <i class="icon-paperplane ml-2"></i></button>
                  <div class="col-md-5"></div>
               </div>
            </div>
         </form>
         <table class="table datatable-basic table-bordered table-striped table-hover table-sm" style="width: 100%">
            <thead class="thead-dark">
               <tr>
                  <th>C-Pom</th>
                  <th>Voie</th>
                  <th>C-Cit</th>
                  <th>Carburant</th>
                  <th>Indice</th>
                  <th>Date</th>
                  <th>Groupe</th>
                  <th class="text-center">Actions</th>
               </tr>
            </thead>
            <tbody id="data-update">
               {% if data %}
               {% for idRecetteCarburant,NomPompe,NomCiterne,NomCarburant,nomVoie,DateCarb,indice,NomGroupe in data %}
               <tr>
                  <td>{{ NomPompe }}</td>
                  <td>{{ nomVoie }}</td>
                  <td>{{ NomCiterne }}</td>
                  <td>{{ NomCarburant }}</td>
                  <td>{{ indice }}</td>
                  <td>{{ DateCarb }}</td>
                  <td>{{ NomGroupe }}</td>
                  <td class="text-center">
                     <div class="list-icons">
                        <a href="{{ url_for('chef.modifier_recette_carburant',id=idRecetteCarburant, _external=True) }}" id="{{ idRecetteCarburant }}" class="list-icons-item" data-toggle="tooltip" data-placement="bottom" title="Modifier">
                        <i class="icon-pencil7"></i>
                        </a>
                        <a href="{{ url_for('chef.supprimer_recette_carburant',id=idRecetteCarburant, _external=True) }}" id="{{ idRecetteCarburant }}" class="list-icons-item" data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                        <i class="icon-trash"></i>
                        </a>
                     </div>
                  </td>
               </tr>
               {% endfor %}
               {% endif %}
            </tbody>
         </table>
      </div>
   </div>
</div>
<script>
   $('[data-toggle="tooltip"]').tooltip();
   // Basic datatable
   var table = $('.datatable-basic').DataTable({
       autoWidth: false,
       fixedHeader: true,
       dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
       language: {
           search: '<span>Filter:</span> _INPUT_',
           searchPlaceholder: 'Type to filter...',
           lengthMenu: '<span>Show:</span> _MENU_',
           paginate: {
               'first': 'First',
               'last': 'Last',
               'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;',
               'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;'
           }
       },
       columnDefs: [{
           orderable: false,
           targets: [7],
           width: 100
       }],
       lengthMenu: [
           [25, 50, 100, -1],
           [25, 50, 100, "All"]
       ],
       buttons: {
           buttons: [
           {
           text: 'Ajouter Recette',
           className: 'btn bg-teal-400',
           action: function(e, dt, node, config) {
               location.href = "{{ url_for('chef.ajouter_recette_carburant') }}";
           }
       },{
           text: 'Imprimer Recette',
           className: 'btn bg-teal-400 ml-1',
           action: function(e, dt, node, config) {
               location.href = "{{ url_for('chef.imprimer_recette_carburant') }}";
           }}]
       }
   });

   // Resize scrollable table when sidebar width changes
   $('.sidebar-control').on('click', function() {
       table.columns.adjust().draw();
   });

    $('#code').datepicker({
           todayBtn: 'linked',
           format: "yyyy-mm-dd",
           endDate:currrent_date()
    });

    function currrent_date() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        return (yyyy + '-' + mm + '-' + dd);
    }

</script>
{% endblock %}